

/*these two following blocks could be used to style the background countries of the
 NorthAmerica,but not used here for the choropleth map*/


/* add background color to conatiner*/
#container2{
	background-color:#d6eaf8;
	min-width: 100%;
	
}
/* add background color to conatiner*/
#container{
	background-color:#d6eaf8;
	min-width: 100%;
	height: 820px;
}

.source {
	min-width: 100%;
}

.title {
	min-width: 100%;
}
/*stylize the page title*/
.pageTitle{
	padding-top: 1.5%;
	font-size: 2.5em;
	font-weight: bold;
	font-family: sans-serif;
	color:#4d5c66;

}
/*stylize the title background box*/
.titleBackground{
	fill: none;

}

/*stylize the map background*/
.background {
	fill: #5EB3F5;
	opacity: 0.2;
	stroke:#0E78CA;
	stroke-width:1px;
}
/*this stylizing hides the background data that is not used to display on the map*/

/*style the color, border and position of the svg*/
.map {
	border: medium solid #D4E6F1;
	border-width: 5px;
	background-color: none;
	margin-top: 45px;
	margin-right:0px;
	position: relative;
	
}

/*stylize the margin and the backgournd of the bar chart*/
.chart {
	background-color: none;
	border: medium solid #D4E6F1;
	border-width: 5px;
	float: right;
	margin-top: 45px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
	
}
/*stylize the title of the bar chart*/
.chartTitle {
	fill:#4d5c66;
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
/*stylize the background of the chart */
.chartBackground{
	padding-top: 20px;
	fill: #d6eaf8;
	opacity: 0.1;
}
/*add a chart frame beneath the bar charts*/
.chartFrame{
	fill: none;
	stroke:#9ea9b2;
	stroke-width:0px;
	shape-rendering: crispEdges;
}
/*stylize the vertical axis*/
.axis path,
.axis line{
	padding-top: 20px;
	fill: none;
	stroke: #9ea9b2;
	stroke-width: 1px;
	shape-rendering:crispEdges;
}
/* stylize the axis texts*/
.axis text {
	font-family: sans-serif;
	font-size: 1.1em;
	fill:#4d5c66;
}
/*style the path of states within the svg*/

.state {
	fill:none;
	stroke: #e8eff4;
	stroke-opacity:1;
	stroke-width:1px;
	stroke-cap:round;

}
/*stylize the intro paragraph*/
.intro {
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;

}

p {
	font-size: 1.1em;
	font-family: Arial;
	color: #5c6d77;
	line-height: 1.35em;
}

/*Styling the dropdown*/
.dropdown {
    position:absolute;
    top:285px;
    left:70px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;

    padding: 3px;
    margin-left: 15%;
    border: 2px solid #9ea9b2;
    box-shadow: 2px 2px 4px #9ea9b2;
}

/*stylize the dropdown text options*/
option {
    font-weight: normal;
}
/*stylize the info retriving box and the content within*/
.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin balck;
    padding: 5px 10px;
    top: -75px;
    z-index: 12;
}

.infolabel h1 {
    margin: 0 5px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.title1 {
	font-size: 1.2em;
	font-weight: bold;
	font-family: Tahoma;
	fill:#4d5c66;
}

.text1 {
	font-size: 1.03em;
	font-family: Tahoma;
	fill:#4d5c66;

}
.text2 {
	font-size: 1.03em;
	font-family: Tahoma;
	fill:#4d5c66;

}
.text3 {
	font-size: 1.03em;
	font-family: Tahoma;
	fill:#4d5c66;

}
.text4 {
	font-size: 1.03em;
	font-family: Tahoma;
	fill:#4d5c66;

}
.text5 {
	font-size: 1.03em;
	font-family: Tahoma;
	fill:#4d5c66;

}

#creditline {
	color: black;
	height: 50px;
	min-width: 100%;
	background-color: #d6eaf8;

}
.credit {
	float: right;
}
.credit p{
	text-align: right;
	color:#1f4667;
	font-size: 1em;
	line-height: 0.3;
}

.credit a{
	color: #445b72;
}




